<div class="col-sm-2">
    <ul class="list-unstyled mt-3 mb-4">
        <li>
            <button
                    @click="additional_tab = additional_tab === 'regions' ? null : 'regions'; getRegions();"
                    v-bind:class="additional_tab === 'regions' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm w-100 mb-1"
            >реестр</button>
        </li>
        <li>
            <button
                    @click="additional_tab = additional_tab === 'fields' ? null : 'fields'"
                    v-bind:class="additional_tab === 'fields' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm w-100 mb-1"
            >поля</button>
        </li>
        <li>
            <button
                    v-on:click="additional_tab = additional_tab === 'garage' ? null : 'garage'"
                    v-bind:class="additional_tab === 'garage' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm btn-outline-primary w-100 mb-1"
            >техника</button>
        </li>
        <li>
            <button
                    v-on:click="additional_tab = additional_tab === 'warehouse' ? null : 'warehouse'; update_warehouse_values();"
                    v-bind:class="additional_tab === 'warehouse' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm btn-outline-primary w-100 mb-1"
            >склады</button>
        </li>
        <li>
            <button
                    @click="additional_tab = additional_tab === 'regions1' ? null : 'regions1'"
                    v-bind:class="additional_tab === 'regions1' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm w-100 mb-1"
            >производства</button>
        </li>
        <li>
            <button
                    v-on:click="additional_tab = additional_tab === 'shop' ? null : 'shop'"
                    v-bind:class = "additional_tab === 'shop' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm btn-outline-primary w-100 mb-1"
            >магазин</button>
        </li>
    </ul>
</div>
