<div class="col-sm-2">
    <ul class="list-unstyled mt-3 mb-4">
        <li>
            <button
                    @click="additional_tab = additional_tab === 'regions' ? null : 'regions'; getRegions();"
                    v-bind:class="additional_tab === 'regions' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm w-100 mb-1"
            >{{ _('REGISTRY') }}</button>
        </li>
        <li>
            <button
                    @click="additional_tab = additional_tab === 'exchange' ? null : 'exchange'; getExchange();"
                    v-bind:class="additional_tab === 'exchange' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm w-100 mb-1"
            >{{ _('EXCHANGE') }}</button>
        </li>
        <li>
            <button
                    @click="additional_tab = additional_tab === 'fields' ? null : 'fields'"
                    v-bind:class="additional_tab === 'fields' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm w-100 mb-1"
            >{{ _('FIELDS') }}</button>
        </li>
        <li>
            <button
                    @click="additional_tab = additional_tab === 'production' ? null : 'production'"
                    v-bind:class="additional_tab === 'production' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm w-100 mb-1"
            >{{ _('PRODUCTION') }}</button>
        </li>
        <li>
            <button
                    v-on:click="additional_tab = additional_tab === 'transport' ? null : 'transport'"
                    v-bind:class="additional_tab === 'transport' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm btn-outline-primary w-100 mb-1"
            >{{ _('TRANSPORT') }}</button>
        </li>
        <li>
            <button
                    v-on:click="additional_tab = additional_tab === 'warehouse' ? null : 'warehouse'; update_warehouse_values();"
                    v-bind:class="additional_tab === 'warehouse' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm btn-outline-primary w-100 mb-1"
            >{{ _('WAREHOUSES') }}</button>
        </li>
        <li>
        <li>
            <button
                    v-on:click="additional_tab = additional_tab === 'shop' ? null : 'shop'"
                    v-bind:class = "additional_tab === 'shop' ? 'btn-primary' : 'btn-outline-primary'"
                    class="btn btn-sm btn-outline-primary w-100 mb-1"
            >{{ _('SCORE') }}</button>
        </li>
    </ul>
</div>
