<div v-show="additional_tab === 'warehouse'">
    <div class="card text-center">
        <div class="card-header">
            <!--            <ul class="nav nav-tabs card-header-tabs">-->
            <!--                <li class="nav-item">-->
            <!--                    <button class="nav-link" aria-current="true" href="#"-->
            <!--                            v-bind:class="additional_warehouse_tab === 'harvest' ? 'active' : ''"-->
            <!--                            v-on:click="additional_warehouse_tab = additional_shop_tab === 'harvest' ? null : 'harvest'"-->
            <!--                    >урожай</button>-->
            <!--                </li>-->
            <!--                <li class="nav-item">-->
            <!--                    <button class="nav-link" href="#"-->
            <!--                            v-bind:class="additional_warehouse_tab === 'seeds' ? 'active' : ''"-->
            <!--                            v-on:click="additional_warehouse_tab = additional_warehouse_tab === 'seeds' ? null : 'seeds'"-->
            <!--                    >семена</button>-->
            <!--                </li>-->
            <!--            </ul>-->
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-sm-3 text-small"></div>
                <div class="col-sm-3 text-small">всего</div>
                <div class="col-sm-2 text-small">количество</div>
                <div class="col-sm-2 text-small">стоимость</div>
                <div class="col-sm-2 text-small">цена</div>
            </div>
            <div v-for="(quantity, harvestType) in user.warehouse">
                <div class="row">
                    <div class="col-sm-3">{{ _(harvestType) }}</div>
                    <div class="col-sm-3">{{ quantity.toFixed(0) }}</div>
                    <div class="col-sm-2">
                        <input type="number" min="0" v-bind:max="quantity" v-model="sell_harvest_quantity[harvestType]" class="form-control btn-sm ">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-sm btn-success mb-1" style="min-width: 100px" @click="sell_harvest(harvestType, sell_harvest_quantity[harvestType]);">{{ sell_harvest_quantity[harvestType] ? (actualPrices[harvestType] * sell_harvest_quantity[harvestType]).toFixed(0) : 'продать'}}</button>
                    </div>
                    <div class="col-sm-2">
                        {{ actualPrices[harvestType] ? actualPrices[harvestType].toFixed(3) : 0 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
