<!DOCTYPE html>
<html>
<head>
    <title>MY CALCULATOR</title>
    <script src="/js/bootstrap.js"></script>
    <script src="/vue.js"></script>
    <script src="/js/functions.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap-vue.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                                <h3 slot="header">Создание нового сектора</h3>
                            </slot>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                <p>Вы можете разделить ваш регион на сектора. Минимальный размер сектора - 1Га.<br />
                                Если вы оградите сектор - он не будет считатьс дочерним сектором данного региона, и его можно будет продать.</p>

                                <div class="input-group mb-3" v-for="(n, i) in sectors">
                                    <select @change="check()" class="form-select form-select-sm" v-model="sectors[i].type" aria-label=".form-select-sm example">
                                        <option disabled selected="selected">тип сектора</option>
                                        <option value="field">поле</option>
                                        <option value="vineyard">виноградник</option>
                                        <option value="garden">сад</option>
                                        <option style="font-size: 1pt; background-color: rgba(0,0,0,0.33);" disabled>&nbsp;</option>
                                        <option value="warehouse">склад</option>
                                        <option value="elevator">элеватор</option>
                                        <option value="garage">скважина</option>
                                        <option value="h4">гараж</option>
                                        <option style="font-size: 1pt; background-color: rgba(0,0,0,0.33);" disabled>&nbsp;</option>
                                        <option value="winery">винный завод</option>
                                        <option value="brewery">пивоварня</option>
                                        <option value="distillery">вискикурня</option>
                                        <option style="font-size: 1pt; background-color: rgba(0,0,0,0.33);" disabled>&nbsp;</option>
                                        <option value="bakery">хлебзавод</option>
                                    </select>
                                    <input @change="check()" type="number" min="1" v-bind:max="available_space" v-model="sectors[i].size" placeholder="размер Га" class="form-control" aria-describedby="button-addon1">
                                    <div class="form-check" style="margin: 8px">
                                        <input class="form-check-input" type="checkbox" v-model="sectors[i].separate" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            отделить
                                        </label>
                                    </div>

                                    <button v-if="i === sectors.length - 1 && newSectorDisabled" @click="sectors.push({ size: 1 }); check()">+</button>
                                    <button v-if="i !== sectors.length - 1 || !newSectorDisabled" @click="sectors.pop(); check()">-</button>
                                </div>
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <h6 class="text-danger" v-if="!newSectorDisabled" style="width: 45%;">Доступно только {{available_space}}Га</h6>
                                <button class="modal-default-button" @click="$emit('close')" style="width: 25%;">
                                    отмена
                                </button>
                                <button class="modal-default-button" v-bind:disabled="createDisabled" @click="create()" style="width: 25%;">
                                    создать
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>
</head>
<body>
<div class="container" id="app">
    <div class="row">
        <div class="col-sm-2">
            <span class="fw-bold">{{ day }} день {{ year }} г</span> /
        </div>
        <div class="col-sm-3">
            Текущая температура: <span class="fw-bold">{{ temp }} град</span> /
        </div>
        <div class="col-sm-2">
            Баланс: <span class="fw-bold">{{ balance.toFixed(0) }}</span>
        </div>
        <div class="col-sm-2">
            <button v-on:click="update" class="btn btn-sm btn-outline-primary w-100 mb-1">обновить статус</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-unstyled mt-3 mb-4">
                <li>
                    <button
                            @click="additional_tab = additional_tab === 'regions' ? null : 'regions'; update_regions_values();"
                            v-bind:class="additional_tab === 'regions' ? 'btn-primary' : 'btn-outline-primary'"
                            class="btn btn-sm w-100 mb-1"
                    >регионы</button>
                </li>
                <li>
                    <button
                            v-on:click="additional_tab = additional_tab === 'warehouse' ? null : 'warehouse'; update_warehouse_values();"
                            v-bind:class="additional_tab === 'warehouse' ? 'btn-primary' : 'btn-outline-primary'"
                            class="btn btn-sm btn-outline-primary w-100 mb-1"
                    >склад</button>
                </li>
                <li>
                    <button
                            v-on:click="additional_tab = additional_tab === 'garage' ? null : 'garage'"
                            v-bind:class="additional_tab === 'garage' ? 'btn-primary' : 'btn-outline-primary'"
                            class="btn btn-sm btn-outline-primary w-100 mb-1"
                    >техника</button>
                </li>
                <li>
                    <button
                            v-on:click="additional_tab = additional_tab === 'shop' ? null : 'shop'"
                            v-bind:class = "additional_tab === 'shop' ? 'btn-primary' : 'btn-outline-primary'"
                            class="btn btn-sm btn-outline-primary w-100 mb-1"
                    >магазин</button>
                </li>
            </ul>
        </div>
        <div class="col-sm-7">
            <div v-show="additional_tab === 'warehouse'">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <button class="nav-link" aria-current="true" href="#"
                                        v-bind:class="additional_warehouse_tab === 'harvest' ? 'active' : ''"
                                        v-on:click="additional_warehouse_tab = additional_shop_tab === 'harvest' ? null : 'harvest'"
                                >урожай</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" href="#"
                                        v-bind:class="additional_warehouse_tab === 'seeds' ? 'active' : ''"
                                        v-on:click="additional_warehouse_tab = additional_warehouse_tab === 'seeds' ? null : 'seeds'"
                                >семена</button>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body" v-show="additional_warehouse_tab === 'seeds'">
                        <div v-for="(quantity, seedType) in user.warehouse.seeds">
                            <div class="row">
                                <div class="col-sm-4">{{ _(seedType)  }}</div>
                                <div class="col-sm-4">{{ quantity.toFixed(0) }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" v-show="additional_warehouse_tab === 'harvest'">
                        <div v-for="(quantity, harvestType) in user.warehouse.harvest">
                            <div class="row">
                                <div class="col-sm-4">{{ _(harvestType) }}</div>
                                <div class="col-sm-3">{{ quantity.toFixed(0) }}</div>
                                <div class="col-sm-5">
                                    <div class="input-group mb-3">
                                        <input type="number" min="0" v-bind:max="quantity" v-model="sell_harvest_quantity[harvestType]" class="form-control btn-sm ">
                                        <button class="btn btn-sm btn-success mb-1" @click="sell_harvest(harvestType, sell_harvest_quantity[harvestType]);">продать {{ (actualPrices[harvestType] * sell_harvest_quantity[harvestType]).toFixed(0) }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-show="additional_tab === 'garage'">
            </div>

            <div v-show="additional_tab === 'shop'">
                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <button class="nav-link" aria-current="true" href="#"
                                        v-bind:class="additional_shop_tab === 'fields' ? 'active' : ''"
                                        @click="additional_shop_tab = additional_shop_tab === 'fields' ? null : 'fields'"
                                >поля</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" href="#"
                                        v-bind:class="additional_shop_tab === 'seeds' ? 'active' : ''"
                                        v-on:click="additional_shop_tab = additional_shop_tab === 'seeds' ? null : 'seeds'"
                                >семена</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" href="#"
                                        v-bind:class="additional_shop_tab === 'technics' ? 'active' : ''"
                                        v-on:click="additional_shop_tab = additional_shop_tab === 'technics' ? null : 'technics'"
                                >техника</button>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body" v-show="additional_shop_tab === 'seeds'">
                        <div v-for="(seed, index) in entities.seeds">
                            <div class="row">
                                <div class="col-sm-3">{{ seed.name }}</div>
                                <div class="col-sm-2">
                                    <input class="form-control form-control-sm" v-model="seeds_shop[index]" type="number" min="1" value="1" name="cols">
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-sm btn-success mb-1" @click="buy_seeds(seed.type, seeds_shop[index]); seeds_shop[index] = null">купить {{ seeds_shop[index] ? $(seed.salePrice * seeds_shop[index]) : 0}} </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" v-show="additional_shop_tab === 'fields'">
                        <div class="row">

                            <div class="col-sm-1 text-small">размер</div>
                            <div class="col-sm-7 text-small">
                                <div class="row">
                                    <div class="col-sm-2">гараж</div>
                                    <div class="col-sm-2">элеватор</div>
                                    <div class="col-sm-2">полив</div>
                                    <div class="col-sm-3">сборщик</div>
                                    <div class="col-sm-3">удобритель</div>
                                </div>
                            </div>

                            <div class="col-sm-2 text-small">аренда</div>
                            <div class="col-sm-2 text-small">покупка</div>
                        </div>
                        <div v-for="(item, index) in entities.fields">
                            <div class="row" v-show="!item.ownerId">
                                <div class="col-sm-1"> {{ item.size }} </div>
                                <div class="col-sm-7 text-small">
                                    <div class="row">
                                        <div class="col-sm-2">{{ $(item.buildings.garage.lv) }}</div>
                                        <div class="col-sm-2">{{ $(item.buildings.elevator.lv) }}</div>
                                        <div class="col-sm-2">{{ $(item.buildings.irrigationComplex.lv) }}</div>
                                        <div class="col-sm-3">{{ $(item.buildings.assembler.lv) }}</div>
                                        <div class="col-sm-3">{{ $(item.buildings.emitter.lv) }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-success mb-1" @click="rent_field(item._id)"> {{ $(item.rentPrice) }} </button>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-sm btn-success mb-1" @click="buy_field(item._id)"> {{ $(item.salePrice) }} </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" v-show="additional_shop_tab === 'technics'">
                        <div v-for="item in entities.seeds">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-show="additional_tab === 'regions'">

                <div class="card text-center">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <button class="nav-link" aria-current="true" href="#"
                                        v-bind:class="additional_regions_tab === 'regions' ? 'active' : ''"
                                        @click="additional_regions_tab = additional_regions_tab === 'regions' ? null : 'regions'"
                                >регионы</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" aria-current="true" href="#"
                                        v-bind:class="additional_regions_tab === 'fields' ? 'active' : ''"
                                        @click="additional_regions_tab = additional_regions_tab === 'fields' ? null : 'fields'"
                                >поля</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" href="#"
                                        v-bind:class="additional_regions_tab === 'seeds' ? 'active' : ''"
                                        v-on:click="additional_regions_tab = additional_regions_tab === 'seeds' ? null : 'seeds'"
                                >виноградники</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" href="#"
                                        v-bind:class="additional_regions_tab === 'technics' ? 'active' : ''"
                                        v-on:click="additional_regions_tab = additional_regions_tab === 'technics' ? null : 'technics'"
                                >сады</button>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body" v-show="additional_regions_tab === 'regions'">
                        <div v-for="region in user.regions">
                            <div class="row">
                                <div class="col-sm-2">{{ region.position[0] }}-{{ region.position[1] }}</div>
                                <div class="col-sm-4">Доступно {{ region.availableSpace }} Га</div>
                                <div class="col-sm-2">
                                    секторов {{ region.sectors ? region.sectors.length : 0}}
                                </div>
                                <div class="col-sm-4">
                                    <button
                                            v-if="region.availableSpace > 0"
                                            class="btn btn-sm btn-success mb-1"
                                            id="show-modal" @click="createSector(region._id, region.availableSpace)"
                                    >создать сектор</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div v-for="(field, id) in user.fields" class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ field.size }}га <span v-if="field.crop"> [ {{ field.crop.currentStateText }} ]</span></h5>
                                <p class="text-xl-start text-small" v-if="field.establishedPrice">{{ field.establishedPrice.toFixed(0) }}/год  (до оплаты {{ field.daysBeforePayment}}) дней</p>
                                <div class="row">
                                    <div class="col-5">
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>
                                                Засеяно: <span class="fw-bold"> {{ field.crop ? field.crop.name : 'пусто' }}</span> <span v-show="field.crop"> / {{ field.filed }}га</span>
                                            </li>
                                            <li v-show="field.crop">
                                                Состояние роста: <span class="fw-bold">{{ field.crop ? field.crop.currentState.toFixed(0) : 0 }}%</span>
                                            </li>
                                            <li v-show="field.crop">
                                                Урожая: <span class="fw-bold">{{ field.crop ? (field.crop.currentHarvest * field.filed).toFixed(0) : 0 }}</span>
                                            </li>
                                            <li v-show="!field.crop">
                                                <div class="input-group mb-3">
                                                    <select class="form-select" aria-label="Default select example" v-model="sow_field_type[id]" class="dropdown-menu" style="width: 115px;">
                                                        <option value="wheat" selected="selected">{{ _('wheat')}}</option>
                                                        <option value="barley">{{ _('barley')}}</option>
                                                        <option value="corn">{{ _('corn')}}</option>
                                                    </select>
                                                    <input type="number" min="1" v-bind:max="field.size" v-model="sow_field_quantity[id]" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                                    <span class="input-group-text">{{ user.warehouse.seeds[sow_field_type[id]] || 0 }}</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <a href="#" v-show="!field.crop" class="btn btn-primary btn-sm" v-on:click="sow_field(field._id, sow_field_type[id], sow_field_quantity[id])">засеять</a>
                                        <a href="#" v-show="field.crop && field.crop.period !== 'DIE'" class="btn btn-primary btn-sm" v-on:click="harvest_field(field._id)">собрать</a>
                                        <a href="#" v-show="field.crop && field.crop.period === 'DIE'" class="btn btn-primary btn-sm" v-on:click="clear_field(field._id)">очистить</a>

                                        <a href="#" v-show="field.status === 'BOUGHT'" class="btn btn-primary btn-sm" v-on:click="sell_field(field._id)">продать</a>
                                        <a href="#" v-show="field.status === 'RENT'" class="btn btn-primary btn-sm" v-on:click="unrent_field(field._id)">вернуть</a>
                                    </div>

                                    <div class="col-4">
                                        <div>Стоянка техники (lv{{ field.buildings.garage.lv }})</div>
                                        <div>Элеватор (lv{{ field.buildings.elevator.lv }})</div>
                                        <div>Комплекс полива (lv{{ field.buildings.irrigationComplex.lv }})</div>
                                        <div>Автосборщик (lv{{ field.buildings.assembler.lv }})</div>
                                        <div>Автоудобритель (lv{{ field.buildings.emitter.lv }})</div>
                                    </div>
                                    <div class="col-3">
                                        <button class="btn btn-primary btn-sm w-100 mb-1" v-bind:class="field.status === 'RENT' ? 'disabled' : ''" v-on:click="build(id, 'garage')">Построить {{ $(fieldFactors.fieldGarage[0] * field.salePrice) }}</button>
                                        <button class="btn btn-primary btn-sm w-100 mb-1" v-bind:class="field.status === 'RENT' ? 'disabled' : ''" v-on:click="build(id, 'elevator')">Построить {{ $(fieldFactors.fieldElevator[0] * field.salePrice) }}</button>
                                        <button class="btn btn-primary btn-sm w-100 mb-1" v-bind:class="field.status === 'RENT' ? 'disabled' : ''" v-on:click="build(id, 'irrigationComplex')">Построить {{ $(fieldFactors.fieldIrrigationComplex[0] * field.salePrice) }}</button>
                                        <button class="btn btn-primary btn-sm w-100 mb-1" v-bind:class="field.status === 'RENT' ? 'disabled' : ''" v-on:click="build(id, 'assembler')">Построить {{ $(fieldFactors.fieldAssembler[0] * field.salePrice) }}</button>
                                        <button class="btn btn-primary btn-sm w-100 mb-1" v-bind:class="field.status === 'RENT' ? 'disabled' : ''" v-on:click="build(id, 'emitter')">Построить {{ $(fieldFactors.fieldEmitter[0] * field.salePrice) }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="alert alert-success" role="alert" v-show="infoModalText">
        {{ infoModalText }}
    </div>
    <div class="alert alert-danger" role="alert" v-show="errorText">
        {{ errorText }}
    </div>

    <create_sectors v-bind:region_id="createSectors.regionId" v-bind:available_space="createSectors.availableSpace" v-if="createSectors.show" @close="createSectors.show = false"></create_sectors>
</div>
</body>
</html>
<script>

    Vue.component("create_sectors", {
        template: "#modal-template",
        props: ['region_id', 'available_space'],
        data: function () {
            return {
                sectors: [{ size: 1 }],
                createDisabled: false,
                newSectorDisabled: false
            }
        },
        beforeMount(){
            this.check();
        },
        methods: {
            check() {
                let size = 0;
                this.sectors.forEach((sector) => {
                    size += Number(sector.size);
                });

                this.createDisabled = size > this.available_space;
                this.newSectorDisabled = size <= this.available_space;
            },
            async create() {
                const data = await postData('/sectors/create', { id: this.region_id, sectors: this.sectors });
                console.log('data', data);
                data.code === 200 && this.$emit('close');
            }
        }
    });

    const app = new Vue({
        el: '#app',
        data: {
            additional_tab: 'regions',
            additional_shop_tab: 'fields',
            additional_regions_tab: 'fields',
            additional_warehouse_tab: 'harvest',
            seeds_shop: {},
            sow_field_type: [],
            sow_field_quantity: [],
            sell_harvest_quantity: [],
            errorTitle: 'ОШИБКА',
            errorText: null,
            infoModalText: null,
            day: null,
            year: null,
            temp: null,
            balance: 0,
            priceFactor: 0,
            fieldsBuildingFactor: 0,
            entities: {},
            user: { warehouse: { seeds: {}, harvest: {}} },
            fieldFactors: {},
            actualPrices: {},
            plant: {},
            createSectors: { show: false, regionId: null, availableSpace: 0 }
        },
        async beforeMount(){
            this.fieldFactors = (await postData('/get_field_factors')).data;
            await this.update();
            this.update_regions_values();
            this.update_warehouse_values();


            setInterval(async () => {
                this.update();
            }, 1000);
        },
        methods: {
            _: function(text) {
                const lang = {
                    wheat: 'пишеничка',
                    barley: 'ячмень',
                    corn: 'кукуруза'
                };
                return lang[text];
            },
            $: function(price) {
                return (price * this.priceFactor).toFixed(0);
            },
            createSector(id, availableSpace) {
                this.createSectors.regionId = id;
                this.createSectors.availableSpace = availableSpace;
                this.createSectors.show = true;
            },
            update: async function () {
                const data = await postData('/get_update');
                // console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
                this.day = data.currentDay;
                this.year = data.currentYear;
                this.temp = data.temp;
                this.balance = data.user.balance;
                this.entities = data.entities;
                this.user = data.user;
                this.priceFactor = data.priceFactor;
                this.actualPrices = data.actualPrices;
            },
            update_warehouse_values: function () {

                // if (this.user.warehouse) {
                //     for(const harvestType in this.user.warehouse.harvest) {
                //         this.sell_harvest_quantity[harvestType] = this.user.warehouse.harvest[harvestType]
                //             ? this.user.warehouse.harvest[harvestType].toFixed(0)
                //             : 0;
                //     }
                // }

            },
            update_regions_values: function () {

                // if (this.user.warehouse) {
                //     this.entities.fields.forEach((field, id) => {
                //         if (field.ownerId === this.user._id) {
                //             this.sow_field_quantity[id] = this.user.warehouse.seeds['wheat']
                //                 ? this.user.warehouse.seeds['wheat'] > field.size ? field.size : this.user.warehouse.seeds['wheat'].toFixed(0)
                //                 : 0;
                //             this.sow_field_type[id] = 'wheat';
                //         }
                //     });
                // }
            },
            startInfoModal: function (text) {
                this.infoModalText = text;
                setTimeout(() => { this.infoModalText = null; },3000)
            },
            startErrorModal: function (text) {
                this.errorText = text;
                setTimeout(() => { this.errorText = null; },3000)
            },
            rent_field: async function (id) {

                const data = await postData('/field/rent', { id });
                console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
            },

            buy_field: async function (id) {

                const data = await postData('/field/buy', { id });
                console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
            },

            sell_field: async function (id) {
                const data = await postData('/field/sell', { id });
                console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
            },

            sow_field: async function (id, seedType, quantity) {
                const data = await postData('/field/sow', { id, seedType, quantity });
                console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
            },

            harvest_field: async function (id) {
                const data = await postData('/field/harvest', { id });
                console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
            },

            unrent_field: async function (id) {
                const data = await postData('/field/unrent', { id });
                console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
            },

            clear_field: async function (id) {
                const data = await postData('/field/clear', { id });
                console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
            },

            sell_harvest: async function (harvestType, quantity) {
                const data = await postData('/harvest/sell', { harvestType, quantity });
                console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
            },

            buy_seeds: async function (seedType, quantity) {

                if (!quantity) return;
                const data = await postData('/seeds/buy', { seedType, quantity });
                console.log('data', data);
                if (data.error) this.startErrorModal(data.error);
            },

            update4: function () {
                this.message = `Updated at ${Date.now()}`
            },
        }
    });
</script>

