<!DOCTYPE html>
<html>
<head>
    <title>Pishenichka Project</title>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/vue.js"></script>
    <script src="/vue-select.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/socket.io.js"></script>
    <templates_js_components />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/vue-select.css" rel="stylesheet">
    <link href="/bootstrap-vue.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
    <body>
        <template_htmls_components />
        <div class="container" id="app">
            <templates_top_line />
            <div class="row">
                <templates_left_menu />
                <div class="col-sm-7">
                    <templates_regions />
                    <templates_exchange />
                    <templates_fields />
                    <templates_transport />
                    <templates_warehouse />
                    <templates_production />
                    <templates_shop />
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <div class="alert alert-success" role="alert" v-show="infoModalText">
                {{ infoModalText }}
            </div>
            <div class="alert alert-danger" role="alert" v-show="errorText">
                {{ errorText }}
            </div>

            <create_sectors
                    v-bind:region_id="createSectors.regionId"
                    v-bind:available_space="createSectors.availableSpace"
                    v-if="createSectors.show"
                    @close="createSectors.show = false"
                    @get_regions="getRegions()"
            ></create_sectors>

            <edit_cultivations
                    v-bind:sector="editCultivations.sector"
                    v-bind:production="editCultivations.production"
                    v-bind:user="user"
                    v-bind:_="_"
                    v-if="editCultivations.show"
                    @close="editCultivations.show = false"
                    @get_regions="getRegions()"
            ></edit_cultivations>

            <edit_productions
                    v-bind:sector="editProductions.sector"
                    v-bind:production="editProductions.production"
                    v-bind:user="user"
                    v-bind:_="_"
                    v-if="editProductions.show"
                    @close="editProductions.show = false"
                    @get_regions="getRegions()"
            ></edit_productions>

            <build_on_sectors
                    v-bind:sector="buildOnSectors.sector"
                    v-bind:user="user"
                    v-bind:_="_"
                    v-if="buildOnSectors.show"
                    @close="buildOnSectors.show = false"
                    @get_regions="getRegions()"
            ></build_on_sectors>

            <research_region
                    v-bind:region_id="researchRegion.regionId"
                    v-bind:user="user"
                    v-if="researchRegion.show"
                    @close="researchRegion.show = false"
            ></research_region>

        </div>
    </body>
</html>
<script src="/js/app.js"></script>
